<!DOCTYPE html>
<html>

<head>
<% include ../include/common/head %>
    <!--css-->
    <link rel="stylesheet" href="/css/all.css">
    <!--/css-->
</head>

<body>
<% include ../include/common/header %>
<% nav = '' %><% include ../include/common/nav %>

    <h1><%= data.default.site_title %></h1>

    <p><span class="icon--a"></span>トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文</p>

<% include ../include/module/sample %>

<% include ../include/common/footer %>
</body>

</html>
