/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
@define-extend icon--a {
  background-image: url(../img/sprite-sample.png);
  background-position: -66px 0px;
  width: 38px;
  height: 49px;
}
@define-extend icon--b {
  background-image: url(../img/sprite-sample.png);
  background-position: -109px 0px;
  width: 30px;
  height: 32px;
}
@define-extend icon--c {
  background-image: url(../img/sprite-sample.png);
  background-position: -66px -54px;
  width: 32px;
  height: 53px;
}
@define-extend icon--n4 {
  background-image: url(../img/sprite-sample.png);
  background-position: 0px 0px;
  width: 61px;
  height: 59px;
}
@define-extend icon--n5 {
  background-image: url(../img/sprite-sample.png);
  background-position: 0px -64px;
  width: 54px;
  height: 66px;
}
