<!DOCTYPE html>
<html>

<head>
<% include ../../include/common/head %>
    <!--css-->
    <link rel="stylesheet" href="/css/all.css">
    <!--/css-->
</head>

<body>
<% include ../../include/common/header %>
<% nav = 'nav01' %><% include ../../include/common/nav %>

    <h1>ページタイトル</h1>
    
    <p>リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文</p>
    
<% include ../../include/module/sample %>    

<% include ../../include/common/footer %>
</body>

</html>